<!doctype html>                                                                                                                                                                   
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Magic 8 Box</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id='header'>
      <h1>Magic 8 Box</h1>
    </div>

    <% if flash[:notice] || flash[:error] %>
      <div id='flash'>
        <%= flash[:error] %>
        <%= flash[:notice] %>
      </div>
    <% end %>
 
    <div id='page'>
      <%= yield %>
    </div>
 
    <%= javascript_include_tag 'application' %>
    <%= render :partial => 'shared/google_analytics' %>
  </body>
</html>
